html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "SF Pro Text", "SF Pro Display",
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.01em;
}

.kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 20px;
  height: 18px;
  padding: 0 6px;

  font-family: system-ui, -apple-system;
  font-size: 11px;
  font-weight: 500;

  color: #ffffff;
  background: #5c5d64;
  border: 1px solid #d1d1d6;
  border-radius: 5px;

  box-shadow:
    inset 0 -1px 0 rgba(0,0,0,0.06);
}
