.overlay-root {
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  color: white;

  background: rgb(45, 46, 51);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 17px 17px 0px 0px;
  will-change: transform, opacity;
  margin: 0;

  border: 0.5px solid rgba(123, 123, 123, 0.6);
}